[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.10"
django = "==2.2"
pillow = "==7.2.0"
pytz = "==2020.1"
sqlparse = "==0.3.1"
psycopg2-binary = ">=2.8"
django-allauth = "==0.42.0"

[requires]
python_version = "3.8"
