
{% extends "base.html" %}
{% load socialaccount %}

{% block title %}
products
{% endblock %}
{% block content %}
    {%  if request.user.is_authenticated is False %}
    <a href="/signup"></a>
    <form method="POST" class="pt-2 pb-2 mx-auto col-md-8" action="/login">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Login"/>
        <a class='btn btn-danger' href="{% provider_login_url 'google' %}">Login with Google <span class="fa fa-google"></span></a>
    </form>
    {%endif%}
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
{% endblock %}