
{% extends "base.html" %}

{% block title %}
products
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
    <p>you 're logged in </p>
    <form method="POST" action="/logout">
        {% csrf_token %}
        <input type="submit" value="logout">
    </form>
    {% else %}

    <a href="/signup"></a>
    <form method="POST" class="pt-2 pb-2 mx-auto col-md-8" action="/login">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Login"/>
    </form>
    {%endif%}
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
{% endblock %}